---
---

@import "{{ site.theme }}";

header img {
  display: block;
  margin: 0 auto 16px auto;
}

header .description {
  text-align: center;
  line-height: 1.5;
  margin-bottom: 24px;
}

header .description p {
  margin: 0;
}

header .view {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

section {
  line-height: 1.45;
}

section h2 {
  margin-top: 76px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}

section li {
  margin-bottom: 20px;
}

section ul {
  padding-left: 20px;
}

.publication-list {
  line-height: 1.7;
}

.publication-list p {
  margin-bottom: 20px;
}
