---
---

@import "{{ site.theme }}";

header img {
  display: block;
  margin: 0 auto 16px auto;
}

header .description {
  text-align: center;
  line-height: 1.5;
  margin-bottom: 24px;
}

header .description p {
  margin: 0;
}

header .view {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

section {
  text-align: justify;
  line-height: 1.65;
}

section h1,
section h2,
section h3 {
  text-align: left;
}

section h2 {
  margin-top: 56px;
  margin-bottom: 18px;
}

section li {
  text-align: justify;
  line-height: 1.65;
  margin-bottom: 18px;
}

section ul {
  padding-left: 20px;
}

.publication-list p {
  margin-bottom: 24px;
  line-height: 1.65
}
